<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"/>
    </httpModules>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <remove name="ApplicationInsightsWebTracking"/>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler"/>
    </modules>
  </system.webServer>
  <connectionStrings>
    <add name="ERPToysConnectionString" connectionString="FD9AC19704D75F0BEDA82B89E12DB135C77A6018B3DE1CD4395C4358DA0D039DFC8CA0CCD194AC38FBF7F05CBDC4729A6A9BBC5B8436E0C0183ACFC8BF7B47A2D53BE7FA399B1B766095AB4A47D5D633C8A7FCD837FFCE69F4FA4F625B132F702735C525E9E8DF3EF20DEA7B78061482" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="wsHttpBinding" sendTimeout="00:10:00" maxReceivedMessageSize="2147483647" messageEncoding="Text">
          <!--<security>
            <message clientCredentialType="UserName" />
          </security>-->
          <security mode="None"/>
        </binding>
      </wsHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="iSnowSoftBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="iSnowSoftBehavior" name="Services.AlertService">
        <endpoint binding="wsHttpBinding" contract="IBase.IAlertService" bindingConfiguration="wsHttpBinding" name="AlertService"/>
      </service>
      <service behaviorConfiguration="iSnowSoftBehavior" name="Services.AppointmentsService">
        <endpoint binding="wsHttpBinding" contract="IBase.IAppointmentsService" bindingConfiguration="wsHttpBinding" name="AppointmentsService"/>
      </service>
      <service behaviorConfiguration="iSnowSoftBehavior" name="Services.BOMService">
        <endpoint binding="wsHttpBinding" contract="IBase.IBOMService" bindingConfiguration="wsHttpBinding" name="BOMService"/>
      </service>
      <service behaviorConfiguration="iSnowSoftBehavior" name="Services.CompanyService">
        <endpoint binding="wsHttpBinding" contract="IBase.ICompanyService" bindingConfiguration="wsHttpBinding" name="CompanyService"/>
      </service>
      <service behaviorConfiguration="iSnowSoftBehavior" name="Services.DataSourcesService">
        <endpoint binding="wsHttpBinding" contract="IBase.IDataSourcesService" bindingConfiguration="wsHttpBinding" name="DataSourcesService"/>
      </service>
      <service behaviorConfiguration="iSnowSoftBehavior" name="Services.DepartmentService">
        <endpoint binding="wsHttpBinding" contract="IBase.IDepartmentService" bindingConfiguration="wsHttpBinding" name="DepartmentService"/>
      </service>
      <service behaviorConfiguration="iSnowSoftBehavior" name="Services.GoodsService">
        <endpoint binding="wsHttpBinding" contract="IBase.IGoodsService" bindingConfiguration="wsHttpBinding" name="GoodsService"/>
      </service>
      <service behaviorConfiguration="iSnowSoftBehavior" name="Services.GoodsTypeService">
        <endpoint binding="wsHttpBinding" contract="IBase.IGoodsTypeServicee" bindingConfiguration="wsHttpBinding" name="GoodsTypeService"/>
      </service>
      <service behaviorConfiguration="iSnowSoftBehavior" name="Services.InventoryService">
        <endpoint binding="wsHttpBinding" contract="IBase.IInventoryServicee" bindingConfiguration="wsHttpBinding" name="InventoryService"/>
      </service>
      <service behaviorConfiguration="iSnowSoftBehavior" name="Services.MainMenuService">
        <endpoint binding="wsHttpBinding" contract="IBase.IMainMenuService" bindingConfiguration="wsHttpBinding" name="MainMenuService"/>
      </service>
      <service behaviorConfiguration="iSnowSoftBehavior" name="Services.MoldAllotService">
        <endpoint binding="wsHttpBinding" contract="IBase.IMoldAllotService" bindingConfiguration="wsHttpBinding" name="MoldAllotService"/>
      </service>
      <service behaviorConfiguration="iSnowSoftBehavior" name="Services.OrderService">
        <endpoint binding="wsHttpBinding" contract="IBase.IOrderService" bindingConfiguration="wsHttpBinding" name="OrderService"/>
      </service>
      <service behaviorConfiguration="iSnowSoftBehavior" name="Services.PackagingService">
        <endpoint binding="wsHttpBinding" contract="IBase.IPackagingService" bindingConfiguration="wsHttpBinding" name="PackagingService"/>
      </service>
      <service behaviorConfiguration="iSnowSoftBehavior" name="Services.PaymentBillService">
        <endpoint binding="wsHttpBinding" contract="IBase.IPaymentBillService" bindingConfiguration="wsHttpBinding" name="PaymentBillService"/>
      </service>
      <service behaviorConfiguration="iSnowSoftBehavior" name="Services.PermissionService">
        <endpoint binding="wsHttpBinding" contract="IBase.IPermissionService" bindingConfiguration="wsHttpBinding" name="PermissionService"/>
      </service>
      <service behaviorConfiguration="iSnowSoftBehavior" name="Services.ReceiptBillService">
        <endpoint binding="wsHttpBinding" contract="IBase.IReceiptBillService" bindingConfiguration="wsHttpBinding" name="ReceiptBillService"/>
      </service>
      <service behaviorConfiguration="iSnowSoftBehavior" name="Services.ReportService">
        <endpoint binding="wsHttpBinding" contract="IBase.IReportService" bindingConfiguration="wsHttpBinding" name="ReportService"/>
      </service>
      <service behaviorConfiguration="iSnowSoftBehavior" name="Services.SLSalePriceService">
        <endpoint binding="wsHttpBinding" contract="IBase.ISLSalePriceService" bindingConfiguration="wsHttpBinding" name="SLSalePriceService"/>
      </service>
      <service behaviorConfiguration="iSnowSoftBehavior" name="Services.StockInBillService">
        <endpoint binding="wsHttpBinding" contract="IBase.IStockInBillService" bindingConfiguration="wsHttpBinding" name="StockInBillService"/>
      </service>
      <service behaviorConfiguration="iSnowSoftBehavior" name="Services.StockOutBillService">
        <endpoint binding="wsHttpBinding" contract="IBase.IStockOutBillService" bindingConfiguration="wsHttpBinding" name="StockOutBillService"/>
      </service>
      <service behaviorConfiguration="iSnowSoftBehavior" name="Services.SupplierService">
        <endpoint binding="wsHttpBinding" contract="IBase.ISupplierService" bindingConfiguration="wsHttpBinding" name="SupplierService"/>
      </service>
      <service behaviorConfiguration="iSnowSoftBehavior" name="Services.TypesListService">
        <endpoint binding="wsHttpBinding" contract="IBase.ITypesListService" bindingConfiguration="wsHttpBinding" name="TypesListService"/>
      </service>
      <service behaviorConfiguration="iSnowSoftBehavior" name="Services.WarehouseService">
        <endpoint binding="wsHttpBinding" contract="IBase.IWarehouseService" bindingConfiguration="wsHttpBinding" name="WarehouseService"/>
      </service>
      <service behaviorConfiguration="iSnowSoftBehavior" name="Services.WageBillService">
        <endpoint binding="wsHttpBinding" contract="IBase.IWageBillService" bindingConfiguration="wsHttpBinding" name="WageBillService"/>
      </service>
      <service behaviorConfiguration="iSnowSoftBehavior" name="Services.UsersInfoService">
        <endpoint binding="wsHttpBinding" contract="IBase.IUsersInfoService" bindingConfiguration="wsHttpBinding" name="UsersInfoService"/>
      </service>
      <service behaviorConfiguration="iSnowSoftBehavior" name="Services.BaseService">
        <endpoint binding="wsHttpBinding" contract="IBase.IBaseService" bindingConfiguration="wsHttpBinding" name="BaseService"/>
      </service>
    </services>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
</configuration>