<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings"
            type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="USL.Properties.Settings"
                type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework"
            type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
            requirePermission="false"/>
    </configSections>
    <connectionStrings>
        <add name="ERPToysConnectionString"
            connectionString="FD9AC19704D75F0BEDA82B89E12DB135C77A6018B3DE1CD4395C4358DA0D039DFC8CA0CCD194AC38FBF7F05CBDC4729A6A9BBC5B8436E0C0183ACFC8BF7B47A2D53BE7FA399B1B766095AB4A47D5D633C8A7FCD837FFCE69F4FA4F625B132F702735C525E9E8DF3EF20DEA7B78061482"
            providerName="System.Data.SqlClient"/>
    </connectionStrings>
  <system.serviceModel>
    <bindings>
      <!--<wsHttpBinding>
        <binding name="wsHttpBinding" sendTimeout="00:10:00" maxReceivedMessageSize="2147483647" messageEncoding="Text">
          --><!--<security>
            <message clientCredentialType="UserName" />
          </security>--><!--
          <security mode="None" />
        </binding>
      </wsHttpBinding>-->
      <webHttpBinding>
        <binding name="webBinding" sendTimeout="00:10:00" maxReceivedMessageSize="2147483647">
        </binding>
      </webHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="webBehavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <client>
      <endpoint address="http://localhost:51172/BaseService.svc" behaviorConfiguration="webBehavior" binding="webHttpBinding"
        contract="IWcfServiceInterface.IBaseService" name="BaseService" bindingConfiguration="webBinding"/>
      <endpoint address="http://localhost:51172/PermissionService.svc" behaviorConfiguration="webBehavior" binding="webHttpBinding"
        contract="IWcfServiceInterface.IPermissionService" name="PermissionService" bindingConfiguration="webBinding"/>
      <endpoint address="http://localhost:51172/SystemInfoService.svc" behaviorConfiguration="webBehavior" binding="webHttpBinding"
        contract="IWcfServiceInterface.ISystemInfoService" name="SystemInfoService" bindingConfiguration="webBinding"/>
    </client>
  </system.serviceModel>
<appSettings>
  <add key="ApplicationName" value="USL.exe"/>
  <add key="License" value="F32AE69569ECD888683C258486A5F50045912FFBDA0D16AF"/>
  <add key="User" value="User"/>
  <add key="Company" value="汕头市澄海镇阳玩具厂"/>
  <add key="Contacts" value="地址:汕头市澄海区埔美工业区    电话:0754-85882431    传真:0754-85838397"/>
  <add key="Accounts" value="工行:6212 2620 0300 0681 470 张少锋\r\n建行:6222 8031 0021 1018 123 张少锋"/>
  <add key="SystemName" value="冰雪ERP系统"/>
  <add key="IndentBetweenGroups" value="60"/>
  <add key="ItemSize" value="70"/>
  <add key="LargeItemWidth" value="200"/>
  <add key="RowCount" value="8"/>
  <add key="ServerUrl" value="ftp://192.168.1.100/ERPToysPic/"/>
  <add key="UploadPath" value="ftp://192.168.1.100/ERPToysPic/"/>
  <add key="DownloadPath" value=""/>
  <add key="ServerUserName" value="FTPUser"/>
  <add key="ServerPassword" value="653912729BA3B9FAC09024F00C9A285E"/>
  <add key="ServerDomain" value=""/>
</appSettings>
    <userSettings>
        <USL.Properties.Settings>
            <setting name="职工" serializeAs="String">
                <value>None</value>
            </setting>
          <!--<setting name="BaseService" serializeAs="String">
            <value>http://localhost:51172/UserService.svc</value>
          </setting>-->
        </USL.Properties.Settings>
    </userSettings>
  <!--<system.runtime.serialization>
    <dataContractSerializer>
      <declaredTypes>
        <add type="System.Collections.Generic.List`1, SerializationTypes, Version = 2.0.0.0, Culture = neutral, PublicKeyToken=null">
          <knownType type="EDMX.UsersInfo, SerializationTypes, Version=2.0.0.0, Culture=neutral, PublicKey=null" />
        </add>
      </declaredTypes>
    </dataContractSerializer>
  </system.runtime.serialization>-->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>